@media screen and (max-width: 785px) {
    .header{
        position: relative;
    }
    .header a {
      display: block;
      text-align: left;
      float: none;
    }
    
    .header-right {
      flex-direction: column;
      float: none;
    }
    .header a.logo{
        text-align: center;
    }
    .header-right a{
        text-align: center;
    }
    .intro{
        text-align: center;
        height: 80vh;
    }
    .header img{
        position: absolute;
        top: 40px;
        right: 35px;
    }
    .main img{
        height: 100px;
        width: auto;
    }
    .main-solution img{
        width: auto;
    }
  }
  @media screen and (max-width: 1250px){
    .header-right a{
        text-align: center;
    }
    .intro{
        text-align: center;
        
    }
  }
  @media screen and (max-width: 370px){
   .header img{
       top: 20px;
       right: 5px;
   }
  }